.routine-list {
  overflow: hidden;
}

.routine-list-box {
  overflow: hidden;

  min-height: 12vh;
  border-left: 2vw solid white;
  margin-bottom: 5vw;
  padding: 5vw;
}

.routine-list-title {
  font-size: 100px;
  padding: 2vw 0;
}

.routine-list-content {
  font-size: 60px;
}
