.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.result-alert {
  height: 20vh;
  font-size: 8vw;
  text-align: center;
}

.result-time {
  display: flex;
  align-items: center;

  height: 30vh;
  font-size: 5vw;
}

.result-progress {
  height: 20vh;
  font-size: 10vw;
}
