.start {
  display: flex;
  flex-direction: column;
}

.start-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 25vh;
}
.start-header-interval {
  font-size: 7vw;
}

.start-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 7vh;
  padding: 0;
  overflow: hidden;
}
.start-time-title {
  padding: 0;
  font-size: 3vh;
}
.start-time-time {
  padding: 0;
  font-size: 3vh;
}

.start-exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 12vh;
  overflow: hidden;
}
.start-exercise-name {
  padding: 0;
  font-size: 5.5vh;
}
.start-exercise-count {
  padding: 0;
  font-size: 5.5vh;
}

.start-left {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 4vh;
  overflow: hidden;
  font-size: 3vh;
}

.start-image {
  display: flex;
  justify-content: center;

  height: 70vh;
  overflow: hidden;
}
.start-image img {
  height: 100%;
}
