.realtime {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realtime video {
  width: 100vw;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.realtime-video-profile {
  position: absolute;
  left: 10px;
  top: 10vw;
  height: 10vw;
}

.realtime-calling div {
  font-size: 4vw;
}
