.modal-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 90vw;
  min-height: 90vh;

  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;

  color: black;
  font-size: 8vw;
  z-index: 999;
}
